<div class="nomargin masonry-thumbs grid-4" data-lightbox="gallery">
  <a href="images/site/1.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/site/1.jpg" alt="Gallery Thumb 1"></a>
  <a href="images/site/2.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/site/2.jpg" alt="Gallery Thumb 2"></a>
  <a href="images/site/3.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/site/3.jpg" alt="Gallery Thumb 3"></a>
  <a href="images/site/4.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/site/4.jpg" alt="Gallery Thumb 4"></a>
</div>
<div class="clear"></div>
<div class="line"></div>

<!-- <section id="slider" class="slider-element boxed-slider">

  <div class="container clearfix">

    <div id="oc-slider" class="owl-carousel carousel-widget owl-loaded owl-drag with-carousel-dots" data-margin="0"
      data-items="1" data-animate-in="zoomIn" data-speed="450" data-animate-out="fadeOut">






      <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 4560px;">
          <div class="owl-item active" style="width: 1140px;"><a href="#"><img src="images/mix/2.jpg" alt="Slider"></a></div>
          <div class="owl-item active" style="width: 1140px;"><a href="#"><img src="images/mix/3.jpg" alt="Slider"></a></div>
          <div class="owl-item active" style="width: 1140px;"><a href="#"><img src="images/mix/2.jpg" alt="Slider"></a></div>
          <div class="owl-item active" style="width: 1140px;"><a href="#"><img src="images/mix/3.jpg" alt="Slider"></a></div>
        </div>
      </div>
      <div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="icon-angle-left"></i></button><button
          type="button" role="presentation" class="owl-next"><i class="icon-angle-right"></i></button></div>
      <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button"
          class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button
          role="button" class="owl-dot"><span></span></button></div>
    </div>

  </div>

</section> -->