<!-- Footer
============================================= -->
<footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2006-2018 All Rights Reserved by Tuladhar Export Trade <br>
                <div class="copyright-links">Webmaster: <a href="#">Sumit Tuladhar</a></div>
            </div>

            <div class="col_half col_last tright">
                

                <div class="clear"></div>

                <i class="icon-envelope2"></i> tetrade@gmail.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +977 98510-20571 <span class="middot">&middot;</span> <i class="icon-skype2"></i> CanvasOnSkype
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->
