<!-- <div class="promo parallax  promo-flat promo-full " >
    <div class="container clearfix">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d635.2758889771907!2d85.30985391227941!3d27.712955313516293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb0e180b2c68621a4!2sNepalese+Handloom+Silk!5e0!3m2!1sen!2sus!4v1526184922395" width="100" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
</div>  -->





<!-- Footer
============================================= -->
<footer id="footer" class="dark">

        <div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_one_fourth">

							<div class="widget clearfix">

                                <h4>Contact us</h4>

								<p>Specialist in <strong>Genuine Handmade Pashmina </strong> Shawl and <strong>Soft Raw Silk</strong> fabrics</p>

								<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
                                        <strong>Showroom: </strong><br>
                                        Nepalese Handloom Silk<br>
                                        118 Chakshibari Marg, Thamel<br>
                                        P.O.Box 12923<br>
										Kathmandu, Nepal<br>
									</address>
									<abbr title="Mobile"><strong>Mobile:</strong></abbr> (977) 98510 20571<br>
									<abbr title="Telephone"><strong>Telephone:</strong></abbr> (977) 4226581<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> tetrade@gmail.com
								</div>

							</div>

					</div>

					<div class="col_three_fourth col_last">
                        <div class="widget clearfix">
                            <h4>Showroom Map</h4>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d635.2758889771907!2d85.30985391227941!3d27.712955313516293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb0e180b2c68621a4!2sNepalese+Handloom+Silk!5e0!3m2!1sen!2sus!4v1526184922395" width="840" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>


    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2006-2018 All Rights Reserved by Tuladhar Export Trade <br>
                <div class="copyright-links">Webmaster: <a href="#">Sumit Tuladhar</a></div>
            </div>

            <div class="col_half col_last tright">
                

                <div class="clear"></div>

                <i class="icon-envelope2"></i> tetrade@gmail.com <span class="middot">&middot;</span> <i class="icon-call"></i> +977 98510-20571 
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->
