<div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

<div id="section-contact" class="heading-block title-center page-section">
  <h2>Get in Touch with us</h2>
  <span>Still have Questions? Contact Us</span>
</div>

<div class="promo promo-light bottommargin">
  <h3>Call us today at <span><a href="tel:+977-98510-20571">+977.98510.20571</a></span> or Email us at <span><a href="mailto:tetrade@gmail.com">tetrade@gmail.com</a></span></h3>
  <span>We strive to provide Our Customers with Top Notch Service to make your Experience Wonderful</span>
  <a href="/contact-us" class="button button-xlarge button-rounded">Contact Us</a>
</div>




<!-- <div class="section footer-stick">

  <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
    <div class="flexslider">
      <div class="slider-wrap">
        <div class="slide">
          <div class="testi-content">
<p>Pashmina makes a perfect gift for someone you really care for.</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->
