<!-- <div class="promo parallax promo-dark promo-flat promo-full " style="background-image: url('images/Patterns/Pattern-L-3.jpg');" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
    <div class="container clearfix">
        <h3>Call us today at <span>+91.22.57412541</span> or Email us at <span>support@canvas.com</span></h3>
        <span>We strive to provide Our Customers with Top Notch Support to make their Theme Experience Wonderful</span>
        <a href="#" class="button button-light button-xlarge button-border button-rounded">Start Now</a>
    </div>
</div> -->


<!-- Footer
============================================= -->
<footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2006-2018 All Rights Reserved by Tuladhar Export Trade <br>
                <div class="copyright-links">Webmaster: <a href="#">Sumit Tuladhar</a></div>
            </div>

            <div class="col_half col_last tright">
                

                <div class="clear"></div>

                <i class="icon-envelope2"></i> tetrade@gmail.com <span class="middot">&middot;</span> <i class="icon-call"></i> +977 98510-20571 
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->
