<header id="header" class="full-header">

	<div id="header-wrap">

		<div class="container clearfix">

			<div id="primary-menu-trigger">
				<i class="icon-reorder"></i>
			</div>

			<!-- Logo
                        ============================================= -->
			<div id="logo">
				<!-- <a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png">
          <img src="images/logo.png" alt="Canvas Logo">
        </a>
        <a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png">
          <img src="images/logo@2x.png" alt="Canvas Logo">
        </a> -->
				Logo
			</div>
			<!-- #logo end -->

			<!-- Primary Navigation
                        ============================================= -->
			<nav id="primary-menu">

				<ul>
					<li class="{% if page.url == "/" %}current{% endif %}">
						<a href="/">
							<div>Home</div>
						</a>

					</li>
					<li class="{% if page.url == "/showroom.html" %}current{% endif %}">
						<a href="showroom.html">
							<div>Showroom</div>
						</a>

					</li>
					<li class="mega-menu"><a href="product.html"><div>Product</div></a>
						<div class="mega-menu-content style-2 clearfix" style="background-image: url('images/shop/shop-menu.jpg'); background-repeat: no-repeat; background-position: right bottom;">
							<ul class="mega-menu-column col-xl-2 col-lg-3">
								<li>
									<div class="widget clearfix">

											<h4 class="highlight-me">Last Viewed Items</h4>
											<div class="widget-last-view">
											
											</div>

									</div>
								</li>
							</ul>
							<ul class="mega-menu-column col-lg-3">
								<li>
									<div class="widget clearfix">

										<h4 class="highlight-me">Last Viewed Items</h4>
										<div class="widget-last-view">
											
										</div>

									</div>
								</li>
							</ul>
							<ul class="mega-menu-column col-lg-2">
								<li class="mega-menu-title"><a href="#"><div>Categories</div></a>
									<ul>
										<li><a href="#"><div><i class="icon-t-shirt"></i>Men's Shirts</div></a></li>
										<li><a href="#"><div><i class="icon-laptop2"></i>Women's Accessories</div></a></li>
										<li><a href="#"><div><i class="icon-clock2"></i>Branded Watches</div></a></li>
										<li><a href="#"><div><i class="icon-plane"></i>Innerwear &amp; Lingerie</div></a></li>
										<li><a href="#"><div><i class="icon-barbell"></i>Belts &amp; Backpacks</div></a></li>
										<li><a href="#"><div><i class="icon-heart3"></i>Gym &amp; Sportswear</div></a></li>
										<li><a href="#"><div><i class="icon-film"></i>Personal Grooming</div></a></li>
									</ul>
								</li>
							</ul>
							<ul class="mega-menu-column col-lg-2 noleftborder">
								<li class="mega-menu-title"><a href="#"><div>Popular Brands</div></a>
									<ul>
										<li><a href="#"><div>United Colors of Benetton</div></a></li>
										<li><a href="#"><div>Burton Menswear London</div></a></li>
										<li><a href="#"><div>Calvin Clein Jeans</div></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</li>

					<li class="mega-menu">
						<a href="#">
							<div>Color Chart</div>
						</a>

					</li>
					<li class="mega-menu">
						<a href="faq.html">
							<div>FAQ</div>
						</a>

					</li>
					<li>
						<a href="Gallery.html">
							<div>Gallery</div>
						</a>

					</li>
					<li class="mega-menu">
						<a href="contact-us.html">
							<div>Contact us</div>
						</a>

					</li>
				</ul>


				<!-- Top Search
                            ============================================= -->
				<div id="top-search">
					<a href="#" id="top-search-trigger">
						<i class="icon-search3"></i>
						<i class="icon-line-cross"></i>
					</a>
					<form action="search.html" method="get">
						<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
					</form>
				</div>
				<!-- #top-search end -->

			</nav>
			<!-- #primary-menu end -->

		</div>

	</div>

</header>
<!-- #header end -->