<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Sumit Tuladhar" />
{% if page.description %}<meta name="description" content="{{ page.description | escape }}">{% endif %}
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">{% endif %}

<meta name="msvalidate.01" content="0AC3B3A00E234D8571341A6BEED3831E" />
<meta name="p:domain_verify" content="e436078690683315e0a4820a5329b6a2" />
<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<!-- <link rel="stylesheet" href="css/colors.css" type="text/css" /> -->
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="apple-touch-icon" sizes="180x180" href="images/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon_io/favicon-16x16.png">