<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="d-none d-md-block">

				<div class="container clearfix">
	
					<div class="col_half nobottommargin">
	
						<p class="nobottommargin"><strong>Call:</strong> (+977) 98510 20571 | <strong>Email:</strong> tetrade@gmail.com</p>
	
					</div>
	
					<div class="col_half col_last fright nobottommargin">
	
						<!-- Top Links
						============================================= -->
						<!-- <div class="top-links">
							<ul>
								<li><a href="#">EN</a>
									<ul>
										<li><a href="#"> FR</a></li>
										<li><a href="#"> IT</a></li>
										<li><a href="#"> DE</a></li>
									</ul>
								</li>
							</ul>								
										
						</div> -->
						<!-- .top-links end -->
						<div id="google_translate_element"></div><script type="text/javascript">
							function googleTranslateElementInit() {
							  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'de,en,es,fr,ja,ru,th,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, multilanguagePage: true}, 'google_translate_element');
							}
							</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
											
		
	
					</div>
	
				</div>
	
			</div><!-- #top-bar end -->
	
<header id="header" >

	<div id="header-wrap">

		<div class="container clearfix">

			<div id="primary-menu-trigger">
				<i class="icon-reorder"></i>
			</div>

			<!-- Logo
                        ============================================= -->
			<div id="logo">
				<a href="/" class="standard-logo" data-dark-logo="images/logo-dark.png">
				<img src="images/logo-temp.png" alt="Tuladhar Export Trade Logo">
				</a>
				<a href="/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png">
				<img src="images/logo-temp.png" alt="Tuladhar Export Trade Logo">
				</a>
				
			</div>
			<!-- #logo end -->

			<!-- Primary Navigation
                        ============================================= -->
			<nav id="primary-menu">

				<ul>
					<li class="{% if page.url == "/" %}current{% endif %}">
						<a href="/">
							<div>Home</div>
						</a>

					</li>
					<li class="{% if page.url == "/showroom.html" %}current{% endif %}">
						<a href="/showroom">
							<div>Showroom</div>
						</a>

					</li>
					<!-- <li class="mega-menu"><a href="product.html"><div>Product</div></a>
						<div class="mega-menu-content style-2 clearfix">
							<ul class="mega-menu-column col-xl-2 col-lg-3">
								<li>
									<div class="widget clearfix">

											<h4 class="highlight-me">Last Viewed Items</h4>
											<div class="widget-last-view">
											
											</div>

									</div>
								</li>
							</ul>
							<ul class="mega-menu-column col-lg-3">
								<li>
									<div class="widget clearfix">

										<h4 class="highlight-me">Last Viewed Items</h4>
										<div class="widget-last-view">
											
										</div>

									</div>
								</li>
							</ul>
							<ul class="mega-menu-column col-lg-2">
								<li class="mega-menu-title"><a href="#"><div>Categories</div></a>
									<ul>
									</ul>
								</li>
							</ul>
							<ul class="mega-menu-column col-lg-2 noleftborder">
								<li class="mega-menu-title"><a href="#"><div>Popular Brands</div></a>
									<ul>
									</ul>
								</li>
							</ul>
						</div>
					</li> -->

					<li class="mega-menu">
						<a href="#">
							<div>Color Chart</div>
						</a>

					</li>
					<li class="mega-menu">
						<a href="/faq">
							<div>FAQ</div>
						</a>

					</li>
					<li>
						<a href="/gallery">
							<div>Gallery</div>
						</a>

					</li>
					<li class="mega-menu">
						<a href="/contact-us">
							<div>Contact us</div>
						</a>

					</li>
				</ul>


				<!-- Top Search
                            ============================================= -->
				<div id="top-search">
					<a href="#" id="top-search-trigger">
						<i class="icon-search3"></i>
						<i class="icon-line-cross"></i>
					</a>
					<form action="/search" method="get">
						<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
					</form>
				</div>
				<!-- #top-search end -->

			</nav>
			<!-- #primary-menu end -->

		</div>

	</div>

</header>
<!-- #header end -->