<div class="container clearfix">
  <div class="heading-block center">
    <h2>Our Product</h2>
    <span>We offer wide variety of Silk, Pashmina and Cashmere Products of high quality.</span>
  </div>
  <div class="col_one_third ">
    <div class="feature-box media-box">
      <div class="fbox-media">
        <img src="images/100_Percent/100_Percent-01.jpg" alt="100 Percent Cashmere Pashmina">
      </div>
      <div class="fbox-desc">
        <h3>100% Pashmina<span class="subtitle">Pure Pashmina Cashmere</span> </h3>
        <p></p>
      </div>
    </div>
  </div>

  <div class="col_one_third ">
    <div class="feature-box media-box">
      <div class="fbox-media">
        <img src="images/Silk_Pashmina/SilkPashmina-L-1.jpg" alt="Silk Pashmina">
      </div>
      <div class="fbox-desc">
        <h3>Silk Pashmina<span class="subtitle">To Redefine your Brand.</span></h3>
        <p></p>
      </div>
    </div>
  </div>

  <div class="col_one_third  col_last">
    <div class="feature-box media-box">
      <div class="fbox-media">
        <img src="images/Soft_Raw_Silk/RawSilk-1.jpg" alt="Soft Raw Silk">
      </div>
      <div class="fbox-desc">
        <h3>Soft Raw Silk<span class="subtitle">Make our Customers Happy.</span></h3>
        <p></p>
      </div>
    </div>
  </div>

</div>