<div class="body-overlay"></div>

<div id="side-panel" class="xdark">

  <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

  <div class="side-panel-wrap">

    <div class="widget clearfix">

<img src="images/vajra.png" alt="Tuladhar Export Trade Logo">

      <h3 class="center">Vajra Pashmina</h3>

      <nav class="nav-tree nobottommargin">
        <ul>
          <li><a href="#"><i class="icon-t-shirt"></i>Pashmina</a>
            <ul>
              <li><a href="baby-pashmina">Baby Pashmina</a></li>
              <li><a href="#">100% Pashmina</a>
                <ul>
                  <li><a href="#">Single Ply / 2-Ply</a></li>
                  <li><a href="#">Double Ply / 4-Ply</a></li>
                </ul>
              </li>
              <li><a href="silk-pashmina">Silk Pashmina</a></li>
              <li><a href="pashmina-care">Pashmina Care <i class="icon-leaf"></i></a></li>
            </ul>
          </li>
<li><a href="#"><i class="icon-line-box"></i>Silk</a>
            <ul>
              <li><a href="#">Scarf & Wraps</a></li>
              <li><a href="silk-tie">Silk Tie</a></li>
              <li><a href="silk-shirt">Shirts</a></li>
              <li><a href="silk-coat">Coat</a></li>
              <li><a href="silk-dress">Custom Dresses</a></li>
              <li><a href="silk-care">Silk Care <i class="icon-leaf"></i></a></li>
            </ul>
          </li>
          <li><a href="#"><i class="icon-line2-bag"></i>Print & Patterns</a>
            <ul>
              <li><a href="#">Prints</a>
                <ul>
                  <li><a href="/digital-print-pashmina">Digital Print</a></li>
                  <li><a href="/screen-print-pashmina">Screen Print</a></li>
                </ul>
              </li>
              <li><a href="/pattern-pashmina">Pattern</a></li>
              <li><a href="/embriodery-pashmina">Embroidery</a></li>
              <li><a href="/jacquard-pashmina">Jacquard</a></li>
            </ul>
          </li>

          <li><a href="#"><i class="icon-line2-handbag"></i>Accessories</a>
            <ul>
              <li><a href="#">Sweaters</a></li>
              <li><a href="#">Ponchos</a></li>
              <li><a href="#">Cashmere Caps</a></li>
              <li><a href="#">Gloves</a></li>
            </ul>
          </li>
          <li><a href="/color-chart"><i class="icon-line-grid"></i>Color Chart</a></li>
          <li><a href="/showroom"><i class="icon-shop"></i>About</a>
            <ul>
              <li><a href="/showroom">Showroom</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/testimonials">Testimonials</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/size-guide">Size Guide</a></li>
              <li><a href="/sitemap">Sitemap</a></li>
            </ul>
          </li>
          <li><a href="/contact-us"><i class="icon-map-marker"></i>Contact</a></li>
        </ul>
      </nav>

    </div>

    <div class="widget quick-contact-widget clearfix">
<div id="google_translate_element"></div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'en',
      includedLanguages: 'de,en,es,fr,ja,ru,th,zh-CN,zh-TW',
      layout: google.translate.TranslateElement.InlineLayout.VERTICAL,
      multilanguagePage: true
    }, 'google_translate_element');
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <!-- <h4>Quick Contact</h4>
      <div class="quick-contact-form-result"></div>
      <form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">
        <div class="form-process"></div>
        <input type="text" class="required sm-form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name"
          value="" placeholder="Full Name" />
        <input type="text" class="required sm-form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email"
          value="" placeholder="Email Address" />
        <textarea class="required sm-form-control input-block-level short-textarea" id="quick-contact-form-message"
          name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
        <input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
        <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d nomargin"
          value="submit">Send Email</button>
      </form> -->

    </div>

  </div>

</div>
