<!-- Page Title
============================================= -->
<!-- <section id="page-title">
    <div class="container clearfix ">
        <h1>Nepalese Handloom Silk</h1>
        <span>...</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Submenu</li>
        </ol>
    </div>

</section> -->
<!-- #page-title end -->
    

<!-- Page Sub Menu
============================================= -->
<div id="page-menu">

<div id="page-menu-wrap">

<div class="container clearfix">

<div class="menu-title"><a href="" class="menu-title side-panel-trigger"><span>Vajra </span>Pashmina</a></div>
<nav>
  <ul>

<li><a href="#">
    <div>Pashmina</div>
  </a>
  <ul>
  <li><a href="/baby-pashmina"> <div>Baby Pashmina</div> </a></li>
  <li><a href="/Pure-Pashmina"><div>100% Pashmina</div></a></li>
  <!-- <li><a href="/Pure-Pashmina-Single-Ply"><div>100% 2-Ply Pashmina</div></a></li>
  <li><a href="/Pure-Pashmina-Double-Ply"><div>100% 4-Ply Pashmina</div></a></li> -->
  <li><a href="/Silk-Pashmina"> <div>Silk Pashmina</div> </a></li>
  <li><a href="/Print-Pashmina"> <div>Print Pashmina</div> </a></li>
  <li><a href="/Embriodery-Pashmina"> <div>Embroidery Pashmina</div> </a></li>
  <li><a href="/pattern-pashmina"> <div>Pattern Pashmina</div> </a></li>
  <li><a href="/jacquard-pashmina"> <div>Jacquard Pashmina</div> </a></li>
  </ul>
  </li>
 
<li><a href="#">
    <div>Soft Raw Silk</div>
  </a>
  <ul>
  <li><a href="/Soft-Raw-Silk"><div>Soft Raw Silk</div></a></li>
  <li><a href="/Silk-Shirt"><div>Silk Shirt</div></a></li>
  <li><a href="/Silk-Tie"><div>Silk Tie</div></a></li>
  <li><a href="/silk-dress"><div>Custom Silk Dress</div></a></li>
  </ul>
  </li>

  <li><a href="#"><div>Print & Patterns</div></a>
    <ul>
      <li><a href="">Screen Print</a></li>
      <li><a href="">Digital Print</a></li>
      <li><a href="">Pattern Pashmina</a></li>
    </ul>
  </li>
  <li><a href="#"><div>Accessories</div></a>
    <ul>
      <li><a href="">Sweaters</a></li>
    </ul>
  </li>
  </ul>
</nav>

<div id="page-submenu-trigger" class="side-panel-trigger"><i class="icon-reorder"></i></div>
<!-- <div id="page-submenu-trigger"><i class="icon-reorder"></i></div> -->

</div>

</div>
        
        </div><!-- #page-menu end -->