<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119463959-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-119463959-1');
	</script>

	{% include head.html %}

	<!-- Document Title
	============================================= -->
	<title>{{page.title}} | Tuladhar Export Trade</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		<!-- Header
		============================================= -->
		{% include header.html %}
		{% include submenu.html %}

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="xcontent-wrap">
				<div class="container  clearfix">
					<br/>
                    {{content}}
				</div>
			</div>

		</section><!-- #content end -->

		{% include footer-text.html %}

	</div><!-- #wrapper end -->

	{% include footer.html %}

</body>
</html>