<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{% include head.html %}

	<!-- Document Title
	============================================= -->
	<title>Tuladhar Export Trade</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		<!-- Header
		============================================= -->
		{% include header.html %}
		{% include submenu.html %}

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="xcontent-wrap">
				<div class="container  clearfix">
					<br/>
                    {{content}}
				</div>
			</div>

		</section><!-- #content end -->

		{% include footer-text.html %}

	</div><!-- #wrapper end -->

	{% include footer.html %}

</body>
</html>