<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119463959-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-119463959-1');
  </script>

  {% include head.html %}

  <!-- Document Title
	============================================= -->
  <title>{{page.title}} | Tuladhar Export Trade</title>

</head>

<body class="stretched">

  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper" class="clearfix">
    <!-- Header
		============================================= -->
    {% include header.html %}
    {% include submenu.html %}

    <!-- Page Title
		============================================= -->
    <!-- <section id="page-title">

      <div class="container clearfix">
        <h1>{{page.title}}</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
        </ol>
      </div>

    </section> -->
    <!-- #page-title end -->

    <!-- Content
		============================================= -->
    <section id="content">

      <div class="xcontent-wrap">
        <div class="container  clearfix">
          <br />
          {{content}}
        </div>
      </div>

    </section><!-- #content end -->

    {% include footer-text.html %}

  </div><!-- #wrapper end -->

  {% include footer.html %}

</body>

</html>