<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119463959-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-119463959-1');
  </script>

  {% include head.html %}

  <!-- Document Title
	============================================= -->
  <title>{{page.title}} | Tuladhar Export Trade</title>

</head>

<body class="stretched">

  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper" class="clearfix">
    <!-- Header
		============================================= -->
    {% include header.html %}
    {% include submenu.html %}

    <!-- Page Title
		============================================= -->
    <section id="page-title">

      <div class="container clearfix">
        <h1>{{page.title}}</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
        </ol>
      </div>

    </section>
    <!-- #page-title end -->

    <!-- Content
		============================================= -->
    <section id="content">

      <div class="xcontent-wrap">
        <div class="container  clearfix">
<div class="single-product">

  <div class="product">

    <div class="col_three_fifth">

      <!-- Product Single - Gallery
								============================================= -->
      <div class="product-image">
        <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
          <div class="flexslider">

            <div class="flex-viewport" style="overflow: hidden; position: relative; ">
              <div class="slider-wrap" data-lightbox="gallery" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-857.25px, 0px, 0px);">
{% for slide in page.images %}
                <div class="slide" data-thumb="{{page.img_dir}}/{{slide}}" 
                  data-thumb-alt=""><a href="{{page.img_dir}}/{{slide}}" title="{{page.title}}"
                    data-lightbox="gallery-item"><img src="{{page.img_dir}}/{{slide}}" alt="{{page.title}}" draggable="false"></a></div>
{% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div><!-- Product Single - Gallery End -->

    </div>

    <div class="col_two_fifth product-desc col_last">
      <div class="line"></div>
      <h3>{{page.title}}</h3>
      <div class="line"></div>

      <!-- Product Single - Short Description
								============================================= -->
      {{page.content}}
      <ul class="iconlist">
        <li><i class="icon-caret-right"></i> <a href="/color-chart">Dynamic Color Options Available</a></li>
        <li><i class="icon-caret-right"></i> Lots of Size Options</li>
      </ul><!-- Product Single - Short Description End -->

      <!-- Product Single - Meta
								============================================= -->
      <div class="card product-meta">
        <div class="card-body">
          <span itemprop="productID" class="sku_wrapper">SKU: <span class="sku">8465415</span></span>
          <span class="posted_in">Category: <a href="#" rel="tag">Dress</a>.</span>
          <span class="tagged_as">Tags: <a href="#" rel="tag">Pink</a>, <a href="#" rel="tag">Short</a>, <a href="#"
              rel="tag">Dress</a>, <a href="#" rel="tag">Printed</a>.</span>
        </div>
      </div><!-- Product Single - Meta End -->

      <!-- Product Single - Share
								============================================= -->
      <div class="si-share noborder clearfix">
        <span>Share:</span>
        <div>
          <a href="#" class="social-icon si-borderless si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>
          <a href="#" class="social-icon si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>
          <a href="#" class="social-icon si-borderless si-pinterest">
            <i class="icon-pinterest"></i>
            <i class="icon-pinterest"></i>
          </a>
          <a href="#" class="social-icon si-borderless si-gplus">
            <i class="icon-gplus"></i>
            <i class="icon-gplus"></i>
          </a>
          <a href="#" class="social-icon si-borderless si-rss">
            <i class="icon-rss"></i>
            <i class="icon-rss"></i>
          </a>
          <a href="#" class="social-icon si-borderless si-email3">
            <i class="icon-email3"></i>
            <i class="icon-email3"></i>
          </a>
        </div>
      </div><!-- Product Single - Share End -->

    </div>

    <div class="col_full">

      <!-- <a href="#" title="Brand Logo" class="d-none d-md-block"><img class="image_fade" src="images/logo-temp.png" alt="Brand Logo" style="opacity: 1;"></a> -->

      <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

      <div class="feature-box fbox-plain fbox-dark fbox-small">
        <div class="fbox-icon">
          <i class="icon-thumbs-up2"></i>
        </div>
        <h3>100% Original</h3>
        <p class="notopmargin">We guarantee you the sale of Original Brands.</p>
      </div>

      <div class="feature-box fbox-plain fbox-dark fbox-small">
        <div class="fbox-icon">
          <i class="icon-credit-cards"></i>
        </div>
        <h3>Payment Options</h3>
        <p class="notopmargin">We accept Visa, MasterCard and American Express.</p>
      </div>

      <div class="feature-box fbox-plain fbox-dark fbox-small">
        <div class="fbox-icon">
          <i class="icon-truck2"></i>
        </div>
        <h3>Free Shipping</h3>
        <p class="notopmargin">Free Delivery to 100+ Locations on orders above $40.</p>
      </div>

      <div class="feature-box fbox-plain fbox-dark fbox-small">
        <div class="fbox-icon">
          <i class="icon-undo"></i>
        </div>
        <h3>30-Days Returns</h3>
        <p class="notopmargin">Return or exchange items purchased within 30 days.</p>
      </div>

    </div>


  </div>

</div>
        </div>
      </div>

    </section><!-- #content end -->

    {% include footer-text.html %}

  </div><!-- #wrapper end -->

  {% include footer.html %}

</body>

</html>